body{
    background-color: blanchedalmond;
}
h1{
    color:black;
}


#p1{
    color: brown;
}
#p2{
    color:darkblue;
}


div{
    color: darkgreen;
}


.rasty{
    color:hotpink
}
.nox{
    color:crimson
}