body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

main{
    margin: 30px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
}

.navbar ul {
    list-style-type: none;
    background-color: burlywood;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.navbar a{
    color: black;
    font-weight: 900;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    background-color:antiquewhite;
}

.navbar li{
    float: left;
}

