.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;;
}

/* 
    flex-wrap is used with aligned content (holds or controls all the elements together)
    justify-content is based from the main axis (horizontal) main
    align-items is based from the cross axis (vertical) cross
*/

.box{
    width: 150px;
    height: 150px;
    font-size: 11em;
    text-align: center;
    border-radius: 15px;
}

#box1{
    background-color:red;
    align-self: end;
    order: 1;
}

#box2{
    background-color:yellow;
    align-self: center;
    order: 2;
}

#box3{
    background-color:greenyellow;
}

#box4{
    background-color:rgb(100, 100, 255);
}


